.header {
  width: 100%;
  background: #000;
  backdrop-filter: blur(2px);
  min-height: 80px;
  display: flex;
  align-items: center;

  @media (max-width: 640px) {
    min-height: 34px;
  }

  &-menu__burger {
    @media (min-width: 775px) {
      display: none;
    }

    @media (max-width: 775px) {
      display: inline-block;
      width: 28px;
      height: 30px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    cursor: pointer;
    width: 82px;
    height: 52px;
    border: 1px solid #fff;
    border-radius: 2px;
    padding-top: 3px;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 775px) {
      border: none;
    }

    h1 {
      font-style: normal;
      font-weight: 400;
      font-size: 19.0145px;
      line-height: 120%;
      text-align: center;
      color: #ffffff;
      transition: all 0.5s ease-in-out;
      @media (max-width: 640px) {
        font-size: 15.0145px;
      }
    }
    &:hover {
      border: 1px solid orange;
      h1 {
        color: orange;
      }
    }
  }
  &-right {
    display: flex;
    align-items: center;
    gap: 63px;
  }
  &-navbar {
    &__links {
      display: flex;
      align-items: center;
      gap: 58px;

      @media (max-width: 1220px) {
        gap: 48px;
      }
      a {
        color: #fff;
        transition: all 0.5s ease-in-out;

        &:hover {
          color: orange;
        }
      }
    }
    &__link.active > a {
      color: orange;
    }
  }
  &-design__link {
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover {
      color: orange;
    }
  }
  @media (max-width: 775px) {
    &-navbar,
    &-design__link {
      display: none;
    }
  }
}

.home-banner {
  position: relative;
  display: flex;
  justify-content: flex-end;
  min-height: 70vh;

  @media (max-width: 1020px) {
    min-height: 50vh;
  }

  @media (max-width: 640px) {
    min-height: 40vh;
  }

  @media (max-width: 475px) {
    min-height: 25vh;
  }
  &-image {
    position: absolute;
    width: 100%;
    min-height: 100%;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
}
.home-banner-wrapper {
  width: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  right: 5%;

  @media (max-width: 1020px) {
    right: 12%;
    justify-content: unset;
  }

  @media (max-width: 640px) {
    position: unset;
  }

  @media (max-width: 475px) {
    justify-content: center;
  }

  .wrapper-title {
    position: absolute;
    top: 14%;
    left: 15%;
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    @media (max-width: 1020px) {
      font-size: 85px;
    }

    @media (max-width: 640px) {
      font-size: 54px;
    }

    @media (max-width: 475px) {
      font-size: 32px;
    }
    span {
      color: #ffee2e;
    }
  }

  .wrapper-section-title {
    position: relative;
    width: 465px;
    height: 465px;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    @media (max-width: 1020px) {
      width: 367px;
      height: 367px;
    }

    @media (max-width: 640px) {
      width: 238px;
      height: 238px;
      margin-right: 50px;
    }

    @media (max-width: 475px) {
      width: 130px;
      height: 130px;
    }
  }
  .homepage-button {
    margin: 60px 0 0 auto;
    transition: all 0.5s ease-in-out;

    &:hover {
      background: orangered;
    }

    @media (max-width: 640px) {
      margin: 40px 0 0 0;
      align-self: flex-start;
    }
    @media (max-width: 475px) {
      align-self: center;
      font-size: 16px;
      padding-block: 20px;
      width: 90%;
      bottom: -30%;
      position: absolute;
    }
  }
}

.bamboocap {
  position: relative;
  margin: 140px auto 180px;

  @media (max-width: 1220px) {
    margin: 109px auto 150px;
  }

  @media (max-width: 970px) {
    margin: 60px auto 80px;
  }

  @media (max-width: 475px) {
    margin-top: 100px;
  }

  &__block {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 87px;

    @media (max-width: 1220px) {
      gap: 30px;
    }
  }
  &-image {
    width: 50%;

    @media (max-width: 1220px) {
      width: 100%;
      height: 100%;
      width: 455px;
      height: 405px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    @media (max-width: 970px) {
      display: none;
    }
  }
  .details {
    width: 50%;
    &-title {
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 120%;
      color: #333b41;
      margin-bottom: 20px;
    }
    &-text {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: #333b41;
    }
    &-subtitle {
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 120%;
      color: #333b41;
      margin: 54px 0 34px;
    }

    @media (max-width: 970px) {
      width: 85%;

      &-text {
        margin: 30px 0 20px;
      }
    }

    @media (max-width: 475px){
      width: 95%;
    }
    @media (max-width:475px) {
      &-title{
        font-size: 24px;
        margin-bottom: 10px;
      }
      &-subtitle{
      margin: 20px 0 10px;

      }
    }
  }
  &-decore-image {
    position: absolute;
    right: 0;

    @media (max-width: 1500px) {
      display: none;
    }

    @media (max-width: 970px) {
      display: unset;
      right: -4%;
      height: 476px;
      img {
        height: 100%;
      }
    }
    @media (max-width: 575px) {
      right: -10%;
      height: 376px;
    }
    @media (max-width: 475px){
      right: -15%;
      top: -10%;

    }
    @media (max-width: 395px){
      right: -26%;

    }
  }
}
.animals {
  position: relative;
  padding-bottom: 100px;
  .orange-button {
    transition: all 0.5s ease-in-out;
    &:hover {
      background-color: orangered;
    }
  }
  @media (max-width:1400px) {
  padding-bottom: 140px;
    
  }
  @media (max-width:425px){
    padding-bottom: 60px;
  }
}

.animals__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .palm-image {
    position: absolute;
    left: 0;
    bottom: 2%;
    max-width: 241px;
    max-height: 180px;
   img{
    width: 100%;
    height: 100%;
   }
  }

  .flower-image {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 241px;
    max-height: 180px;
   img{
    width: 100%;
    height: 100%;
   }
    
  }

  @media (max-width:640px) {
    .palm-image, .flower-image{
      max-width: 175px;
      max-height: 131px;
    }
  }

  @media (max-width:425px){
    .palm-image, .flower-image{
      max-width: 95px;
      max-height: 81px;
    }
    .palm-image {
      bottom: 0;
    }
  }
  &-items {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 80px;
    position: relative;

    @media (max-width:1400px) {
      row-gap: 100px;
    }

    @media (max-width:750px){
    grid-template-columns: 1fr 1fr;
    }

    @media (max-width:575px){
      row-gap: 25px;
    grid-template-columns: 1fr;

    }
    .left-arrow {
      position: absolute;
      background: orange;
      width: 62px;
      height: 62px;
      top: 50%;
      left: -10%;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        background-color: orangered;
      }
      @media (max-width:1400px) {
        top: 46%;
        left: 33%;
      }
    }
    .right-arrow {
      position: absolute;
      background: orange;
      width: 62px;
      height: 62px;
      top: 50%;
      right: -10%;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        background-color: orangered;
      }
      @media (max-width:1400px) {
        top: 46%;
        right: 33%;
      }
    }
  }

  @media (max-width:575px){
    .right-arrow, .left-arrow{
      display: none;
    }
  }
  .block-item {
    position: relative;
    border-radius: 10px;
    border: 2px solid orange;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      img {
        transform: scale(1.1);
      }
      .item-details {
        top: 62%;
      }
    }
    img {
      width: 100%;
      // max-width: 366px;
      transition: all 0.5s ease-in-out;
    }
  }

  @media (max-width:750px) {
   .child{
    display: none;
   }
     
  }
  
  .item-details {
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    top: 100%;
    width: 100%;
    padding: 14px 16px;
    transition: all 0.4s ease-in;
    transform: translate(0%, 100%);
    background-color: rgba(0, 0, 0, 0.495);
    backdrop-filter: blur(10px);
    &-title {
      display: block;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      text-transform: uppercase;
      color: #fff;
    }
    &-text {
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 120%;
      color: #fff;
    }
  }
}

.orange__block {
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;
  padding: 69px 0 100px;
  .orange__container {
    padding: 41px 79px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    @media (max-width:1028px) {
      padding: 30px 48px;
      margin: 0 10px;
          
        }

        @media (max-width:775px){
          padding: 15px 20px;

        }
    &-title {
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 120%;
      text-align: center;
      color: #fe9013;
    }
    &-subtitle {
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 120%;
      color: #333b41;
      margin: 30px 0 40px;
    }
    &-intro {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      color: #333b41;
    }
    &-text {
      margin-top: 10px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: #333b41;
      a {
        color: #333b41;
        border-bottom: 1px solid orange;
      }
   
    }
    .details {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .orange-button {
        margin-top: 60px;
      }
      &-title {
        margin: 60px auto 40px;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        color: #333b41;
      }
      &__items {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 80%;
        &-icon {
          margin-bottom: 30px;
        }
        &-item {
          max-width: 168px;
          .item-image {
            border-radius: 5px;
            border: 1px solid orange;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 168px;
            height: 168px;
            background: #fff;
          }
          .item-text {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #333b41;
            margin-top: 30px;
          }
        }
      }
    }
  }
}

.testimonials {
  position: relative;
  margin: 140px auto 180px;

  .leave-image {
    position: absolute;
    right: 0;
    top: 80%;
  }
  &__container {
    width: 100%;
    .orange-button {
      border-radius: 5px;
    }
    .slider-line {
      width: 60%;
      height: 8px;
      background: #e5e6e5;
      border-radius: 5px;
      margin: 21px auto 31px;
      cursor: pointer;

      &-start {
        width: 20%;
        height: 90%;
        background: orange;
        display: block;
        border-radius: 5px;
      }
    }
  }
  &-title {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #333b41;
    margin-bottom: 47px;
  }
  &-slider {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 30px;
    &__item {
      width: 25%;
      max-height: 391px;
      overflow: hidden;
      background: #f1f3f2;
      border-radius: 20px;
      padding: 15px 16px;
      border: 2px solid pink;
      .item-top {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        .username {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 120%;
          color: #000000;
        }
        .info-user {
          font-style: normal;
          font-weight: 300;
          font-size: 15px;
          line-height: 120%;
          color: #bdbdbd;
        }
      }
      .item-bottom {
        &__text {
          font-style: normal;
          font-weight: 300;
          font-size: 15px;
          line-height: 120%;
          color: #767474;
        }
      }
    }
  }
}

.footer {
  background: #000000;
  padding: 41px 0 50px;
  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &-left-button {
    margin: 74px 0 44px;
    .orange-button {
      border-radius: 5px;
    }
  }
  &-left-logo {
    cursor: pointer;
  }
  &-left-contacts {
    .contact {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-top: 8px;
      cursor: pointer;
      &-icon {
        width: 26px;
        height: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: rgba(196, 196, 196, 0.5);
      }
      &-text {
        color: #fff;
        text-transform: capitalize;
        transition: all 0.4s ease;
        &:hover {
          color: orange;
        }
      }
    }
  }
  &-menu {
    display: flex;
    align-items: flex-end;
    .navbar-links {
      display: flex;
      gap: 58px;
    }

    .navbar-link.active {
      a {
        color: orange;
      }
    }

    a {
      color: #fff;
      transition: all 0.5s ease;
      &:hover {
        color: orange;
      }
    }
  }
  &-right {
    display: flex;
    flex-direction: column;
    .footer-bottom-info {
      font-style: normal;
      font-weight: 100;
      font-size: 16px;
      line-height: 130%;
      color: #ffffff;
    }
    &-bottom {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      height: 100%;
    }

    &-title {
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 120%;
      color: #ffffff;
      margin-bottom: 14px;
    }
    &-submit {
      input {
        width: 228px;
        height: 42px;
        padding: 10px;
        background: transparent;
        color: gray;
        border-radius: 5px;
        border: 1px solid orange;
        outline: none;
      }
      button {
        height: 42px;
        background: #f1f3f2;
        border: 1px solid #4b9200;
        border-radius: 5px;
        padding: 10px 39px;
        color: #4b9200;
        cursor: pointer;
        text-transform: capitalize;
        transition: all 0.4s ease-in-out;
        &:hover {
          color: #fff;
          background-color: #75e102;
        }
      }
    }
  }
}
